
/********************************
         3SM 
*********************************/
@media screen and (max-width : 300px) {
    /* #region start header */
    .header .header-upper {
        display: none;
    }

    .search-box {
        display: none;
    }

    .header-lower .top_menu_icons {
        display: flex;
        flex-direction: row-reverse;
    }

        .header-lower .top_menu_icons .search_link,
        .header-lower .top_menu_icons .menu_btn {
            margin: 0 5px;
        }

    .header-lower {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }

    .header_loggo {
        height: 30px;
        width: 80px;
    }

    .top-menu.notmobile {
        display: block !important;
        font-size: 0;
    }

    .header-menu {
        position: relative;
        z-index: 1;
        width: 90%;
        margin: 0 auto 40px;
    }

    .header-links .account_header {
        display: none;
    }

    .header-links ul li {
        margin: 0 5px;
    }

    .header-lower .header-links-wrapper {
        padding: 0;
    }
    .mobile_menu {
        display: none;
        top: 0;
        right: 0;
        position: fixed;
        width: 70vw;
        height: 100vh;
        z-index: 9999;
        background-color: whitesmoke;
        box-shadow: 0 0 220px rgba(0, 0, 0, 0.8);
    }

        .mobile_menu .right_menu_items {
            padding: 10px;  
        }

            .mobile_menu .right_menu_items li {
                padding: 10px;
                font-weight: bold;
            }
    /*#endregion end header */

}
/********************************
         2SM 
*********************************/
@media screen and (min-width : 301px) and (max-width : 599px) {

    /* #region start header */
    .header .header-upper {
        display: none;
    }

    .search-box {
        display: none;
    }

    .header-lower .top_menu_icons {
        display: flex;
        flex-direction: row-reverse;
    }

        .header-lower .top_menu_icons .search_link,
        .header-lower .top_menu_icons .menu_btn {
            margin: 0 5px;
        }

    .header-lower {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }

    .header_loggo {
        height: auto;
        width: 110px;
    }

    .top-menu.notmobile {
        display: block !important; /* prevents toggle display:none on resize */
        font-size: 0;
    }

    .header-menu {
        position: relative;
        z-index: 1;
        width: 90%;
        margin: 0 auto 40px;
    }

    .header-links .account_header {
        display: none;
    }

    .header-links ul li {
        margin: 0 5px;
    }

    .header-lower .header-links-wrapper {
        padding: 0;
    }

    .mobile_menu {
        display: none;
        top: 0;
        right: 0;
        position: fixed;
        width: 70vw;
        height: 100vh;
        z-index: 9999;
        background-color: whitesmoke;
        box-shadow: 0 0 220px rgba(0, 0, 0, 0.8);
    }
        .mobile_menu .right_menu_items {
            padding: 10px;
        }

            .mobile_menu .right_menu_items li {
                padding: 10px;
                font-weight: bold;
            }
    /*#endregion end header */
}

/********************************
         SM 
*********************************/
@media screen and (min-width : 600px) and (max-width : 767px) {

    /* #region start header */

    .header .header-upper {
        display: none;
    }

    .search-box {
        display: none;
    }

    .header-lower .top_menu_icons {
        display: flex;
        flex-direction: row-reverse;
    }

        .header-lower .top_menu_icons .search_link,
        .header-lower .top_menu_icons .menu_btn {
            margin: 0 10px;
        }

    .header-lower {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }

    .header_loggo {
        height: 40px;
    }

    .top-menu.notmobile {
        display: block !important; /* prevents toggle display:none on resize */
        font-size: 0;
    }

    .header-menu {
        position: relative;
        z-index: 1;
        width: 90%;
        margin: 0 auto 40px;
    }

    .header-links .account_header {
        display: none;
    }

    .header-lower .header-links-wrapper {
        padding: 0;
    }

    .mobile_menu {
        display: none;
        top: 0;
        right: 0;
        position: fixed;
        width: 60vw;
        height: 100vh;
        z-index: 9999;
        background-color: whitesmoke;
        box-shadow: 0 0 220px rgba(0, 0, 0, 0.9);
    }

        .mobile_menu .right_menu_items {
            padding: 10px;
        }

        .mobile_menu .right_menu_items li {
            padding: 10px;
            font-weight: bold;
        }
    /*#endregion end header */
}

/********************************
         MD
*********************************/
@media screen and (min-width : 768px) and (max-width : 1023px) {

    /* #region start header */
    .search-box input.search-box-text {
        width: 230px;
        border: none;
        outline: none;
    }

    .header-lower .top_menu_icons {
        display: none;
    }

    .header-selectors-wrapper {
        display: none;
    }

    .header-lower {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0 15px 0;
    }

    .header_loggo {
        height: 50px;
    }

    .top-menu.mobile {
        display: none !important;
    }

    .header-menu > ul > li {
        display: inline-block;
        border-right: 1px solid #ddd;
        padding: 0 15px;
        vertical-align: middle;
    }

        .header-menu > ul > li:first-child {
            border-right: none;
        }

        .header-menu > ul > li > a {
            display: block;
            padding: 5px 10px;
            line-height: 20px;
            font-size: 17px; /*reset zeroing*/
            color: #555;
            cursor: pointer;
        }

            .header-menu > ul > li > a:hover,
            .header-menu > ul > li > a:focus {
                color: #4ab2f1;
            }

    .header-menu {
        position: relative;
        z-index: 5;
        width: 95%;
        border-top: 1px solid #ddd;
        padding: 15px 0;
        text-align: center;
        margin: 0 auto 40px;
    }

    .header-links .account_header {
        display: none;
    }

    .mobile_menu {
        display: none;
    }
    /*#endregion end header */
}

/********************************
         LG 
*********************************/
@media screen and (min-width : 1024px) and (max-width : 1279px) {

    /* #region start header */
    .search-box input.search-box-text {
        width: 250px;
        border: none;
        outline: none;
    }

    .header-lower {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0 15px 0;
    }

        .header-lower .top_menu_icons {
            display: none;
        }

    .header_loggo {
        height: 60px;
    }

    .header-menu {
        position: relative;
        z-index: 5;
        margin: 0 25px 30px;
        border-top: 1px solid #ddd;
        padding: 25px 0;
        text-align: center;
    }

        .header-menu > ul > li {
            display: inline-block;
            border-right: 1px solid #ddd;
            padding: 0 15px;
            vertical-align: middle;
        }

            .header-menu > ul > li:first-child {
                border-right: none;
            }

        .header-menu > ul.mobile {
            display: none !important;
        }

        .header-menu > ul > li > a {
            display: block;
            padding: 5px 10px;
            line-height: 20px;
            font-size: 17px; /*reset zeroing*/
            color: #555;
            cursor: pointer;
        }

            .header-menu > ul > li > a:hover,
            .header-menu > ul > li > a:focus {
                color: #4ab2f1;
            }

    .mobile_menu {
        display: none;
    }
    /*#endregion end header */
}

/********************************
         XL 
*********************************/
@media screen and (min-width : 1280px) {

    /* #region start header */
    .search-box input.search-box-text {
        width: 280px;
        border: none;
        outline: none;
    }

    .header-lower {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0 15px 0;
    }

        .header-lower .top_menu_icons {
            display: none;
        }

    .header_loggo {
        height: 60px;
    }

    .header-menu {
        position: relative;
        z-index: 5;
        margin: 0 auto 30px;
        border-top: 1px solid #ddd;
        padding: 25px 0;
        text-align: center;
    }

        .header-menu > ul > li {
            display: inline-block;
            border-right: 1px solid #ddd;
            padding: 0 15px;
            vertical-align: middle;
        }

            .header-menu > ul > li:first-child {
                border-right: none;
            }

        .header-menu > ul.mobile {
            display: none !important;
        }

        .header-menu > ul > li > a {
            display: block;
            padding: 5px 10px;
            line-height: 20px;
            font-size: 17px; /*reset zeroing*/
            color: #555;
            cursor: pointer;
        }

            .header-menu > ul > li > a:hover,
            .header-menu > ul > li > a:focus {
                color: #4ab2f1;
            }

    .mobile_menu {
        display: none;
    }
    /*#endregion end header */
}
